#################
## Ignore Files
#################

src/IceChat/bin/*
src/IceChat/obj/*
src/IceChat/.vs/*
src/IceChat/IPlugin/obj/*
src/IceChat/IPlugin/bin/*
src/IceChat/IRCConnection/obj/*
src/IceChat/IRCConnection/bin/*
src/IceChat/IThemeIceChat/obj/*
src/IceChat/IThemeIceChat/bin/*

